@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  max-width: 900px;
}
.forms {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 50%;
  box-sizing: border-box;
}
.forms h2 {
  text-align: center;
}
.inputs {
  margin-bottom: 13px;
}
.inputs input {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-left: 6px;
}
.btn {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  color: white;
  font-size: medium;
  height: fit-content;
}
#btn_login
{
    background-color: #28a745;
}
#btn_guest
{
    background-color: rgb(141, 135, 135);
    text-align: center;
}
#btn_signin
{
    background-color:#28a745 ;
}
p,h2
{
    margin-left: 1vw;
}
.buttons
{
    margin-top: -2vh;
}
.btn:hover {
  opacity: 0.8;
}
p {
  color: #827f7f;
}
a {
  text-decoration: none;
  color: #007bff;
}
#login {
  height: fit-content;
  margin-left: -7vw;
}
#signup
{
    display: none;
    margin-left: 30vw;
}
#dhac,#ahc
{
    border: transparent;
    background-color: transparent;
    color: #007bff;
    font-size: medium;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
  .forms {
    width: 80%;
    margin-bottom: 20px;
  }
}
.buttons {
  display: flex;
  gap: 1vw;
  padding: 13px;
}
